# Data Analysis with Pandas (vg-stats): Hisham Khalil 25/5/2021

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("./vgsales.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Which company is the most common video game publisher?

In [2]:
most_common_publisher = df["Publisher"].mode().item()
most_common_publisher

'Electronic Arts'

## What’s the most common platform?

In [3]:
most_common_platform = df["Platform"].mode().item()
most_common_platform

'DS'

## What about the most common genre?

In [4]:
most_common_genre = df["Genre"].mode().item()
most_common_genre

'Action'

## What are the top 20 highest grossing games?

In [5]:
top_twenty_highest_grossing_games = df[df["Rank"] <= 20][["Name"]]
top_twenty_highest_grossing_games

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

## For North American video game sales, what’s the median?

In [6]:
na_median_sales = df["NA_Sales"].median()
na_median_sales

0.08

## Provide a secondary output showing ten games surrounding the median sales output

In [7]:
ten_median_na_seller_names = df[df["NA_Sales"] == na_median_sales][["Name"]].head(10)
ten_median_na_seller_names

                                                   Name
446                                   Dragon Warrior IV
497         World Soccer Winning Eleven 7 International
1617                             Farming Simulator 2015
1926                          Pro Evolution Soccer 2008
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...
2373                           Phantasy Star Portable 2
2579                               The Sims 2: Castaway
3186                                     SingStar Queen
3503                                         Top Spin 3
3703               Sonic & All-Stars Racing Transformed

## assume that games with same median value are sorted in descending order

In [8]:
ten_median_na_seller_names_desc = (df[df["NA_Sales"] == na_median_sales][["Rank","Name"]].sort_values("Rank",ascending=False))[["Name"]].head(10)
ten_median_na_seller_names_desc

                                                   Name
11492                      Ultimate Shooting Collection
11455                                        The Hidden
11432                              DanceDanceRevolution
11431  Little League World Series Baseball: Double Play
11403           My English Coach: Para Hispanoparlantes
11390      Super Robot Taisen OG Saga: Endless Frontier
11386                                     Sushi Academy
11376                         Face Racers: Photo Finish
11375                   Dream Day: Wedding Destinations
11371            Death Jr. and the Science Fair of Doom

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:
standard_dev = ((df["NA_Sales"].head(1)) - (df["NA_Sales"].mean()))/df["NA_Sales"].std()
standard_dev

0    50.478988
Name: NA_Sales, dtype: float64

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [10]:
comp = (df["Global_Sales"].mean(),df[df["Platform"] == "Wii"]["Global_Sales"].mean())
comp

(0.5374406555006628, 0.6994037735849057)

## Come up with 3 more questions that can be answered with this data set.

## waht is the maximum sold game in 2010 ?

In [11]:
max_sold = df[df["Year"] == 2010.0].head(1)
max_sold

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82

## how many games are using Wii platform  ?

In [19]:
no_game = df[df["Platform"] == "Wii"]["Rank"].count()
no_game

1325

## what is the avarege sales for Wanadoo games ?

In [13]:
avg_sale = df[df['Publisher'] == "Wanadoo"]["Global_Sales"].mean()
avg_sale

0.13000000000000003

In [14]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names.iloc[5].Name, 'Phantasy Star Portable 2')

    print("Success!!!")

test()

Success!!!